.MoviesWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 70%;

    margin-top: 70px;
}
.Pages{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    font-size: 30px;
}
.Button{
    color: #cfb5658c;
    pointer-events: none;
    padding: 20px;
    background: #0000005c;
    border-radius: 25px;
}