.Movie {
    position: relative;
    width: 220px;
    /*height: 29vw;*/
    display: inline-block;
    vertical-align: top;
    justify-content: center;
    margin: 1vw;
    overflow: hidden;
    box-shadow: #00000024 4px 4px 20px 1px;
    background-color: rgba(0,0,0,0.69);
}

img {
    height: 70%;
    width: 100%;
}

.Title {
    height: 40px;
    margin: 2% 6%;
}

.NavLink {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 35px;

    margin: 10px;

    background-color: rgba(48, 127, 230, 0.378);
    text-decoration: none;

    border-radius: 10%;
    border: none;

    color: black;
}

.Container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    padding-top: 70px;
    background: #0000003d
}

.Img{
    width: 300px;
    margin: 20px;
}
.Context{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;


}
ul{
    list-style: none;

    padding-left: 15px;
    margin: 20px;
}
.Text{
    font-size: large;
    margin-top: 10px;

    color: #ffffff;
    text-shadow: 0 0 5px black;
}
.Overview{
    margin: 20px;
}
.Badge{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    margin-top: 10px;
    margin-left: 20px;
}
h5{
    margin-left: 5px;
}
.Rating{
    margin: 15px;
}