body {
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
}

#mainHeader[data-theme="light"] {
    --background-color: #9f1313;
    --text-color: #1a5ab7;
}

#mainHeader[data-theme="dark"] {
    --background-color: #b0d9ff;
    --text-color: #041526;
}


