body {
    margin: 0;
    background: var(--background);
    color: var(--text-color);

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

:root[data-theme="light"] {
    --background-color: #ffffff;
    --background: url(https://phonoteka.org/uploads/posts/2021-05/1620997180_23-phonoteka_org-p-fon-more-solntse-plyazh-32.jpg);
    --text-color: #000000;
    --theme-icon-color: #dace06;
}

:root[data-theme="dark"] {
    --background-color: rgb(10, 15, 91);
    --background: url(https://oir.mobi/uploads/posts/2020-04/1585918772_11-p-morskie-volni-nochyu-26.jpg);
    --text-color: #ffffff;
    --theme-icon-color: #ffffff;
}


