body {
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
}

#mainHeader[data-theme="light"] {
    --background-color: #9f1313;
    --text-color: #1a5ab7;
}

#mainHeader[data-theme="dark"] {
    --background-color: #b0d9ff;
    --text-color: #041526;
}
html {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/df/Open_sea_%28july_2021%29.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


